.french-fries-pic{
    height: 400px;
}

.recipe-container{
}

.adobo-pic,
.french-fries-pic{
    height: 300px;
}

.recipe-desc, ol{
    font-family:sans-serif;
    font-size: 14px;
    text-align: justify;
}





body{
    margin: 0;
    background-color:#F2F4EA;
}

ul{
    font-style: italic;
}

.ingredients-container li{
    margin-bottom: 5px;
    width: 230px;
}

.ingredients-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.carbonara-pic{
    height: 300px;
    
}

.pic-container, .parts, .desc-container, .steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    background-color:#1E1F20;
    color: #F2F4EA;
    padding: 5px;    
    width: 500px;
    
}

.change-width{
    width: 500px;
}

.steps-container li{
    width: 470px;
    margin-bottom: 5px;
}




